flow.json
[
    {
        "id": "0e20ee11438916c5",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "7b8e45decdc7489f",
        "type": "http in",
        "z": "0e20ee11438916c5",
        "name": "",
        "url": "/run",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 140,
        "wires": [
            [
                "99c1579d785ed00e"
            ]
        ]
    },
    {
        "id": "99c1579d785ed00e",
        "type": "function",
        "z": "0e20ee11438916c5",
        "name": "make request to OpenAI",
        "func": "\nmsg.OPENAI_API_KEY = msg.payload.openAIKey;\nmsg.model = msg.payload.model;\n\nmsg.messages= [\n    {\n        role: \"system\",\n        content: \"act as a world class marketer\",\n    },\n    {\n        role: \"user\", content: `\n        Product: ${msg.payload.product}\n        Description: ${msg.payload.description}\n        Tone of voice: ${msg.payload.voice}\n\n        Write a before-after-bridge for the above:` \n    },\n];\n\n\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 140,
        "wires": [
            [
                "a6934464803c6bc0"
            ]
        ]
    },
    {
        "id": "a6934464803c6bc0",
        "type": "openai-ubos",
        "z": "0e20ee11438916c5",
        "name": "",
        "model": "gpt-3.5-turbo",
        "temperature": 0.5,
        "max_tokens": 500,
        "prompt": "",
        "frequency_penalty": 0,
        "presence_penalty": 0,
        "top_p": 1,
        "stop": {
            "type": "json",
            "value": "[]"
        },
        "OPENAI_API_KEY": "",
        "x": 560,
        "y": 140,
        "wires": [
            [
                "9308a3d13952f1a4"
            ]
        ]
    },
    {
        "id": "f322b07cef60d4ac",
        "type": "http response",
        "z": "0e20ee11438916c5",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 890,
        "y": 140,
        "wires": []
    },
    {
        "id": "9308a3d13952f1a4",
        "type": "function",
        "z": "0e20ee11438916c5",
        "name": "response",
        "func": "if(msg.statusCode === 200){\n    const answers = msg.payload.choices[0].message.content\n    msg.payload= answers;\n}\nelse {\n    msg.payload = `     Ooops, something went wrong!🥲\n    ${msg.payload.error.message}`\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 140,
        "wires": [
            [
                "f322b07cef60d4ac"
            ]
        ]
    },
    {
        "id": "9f20f1deef775ad8",
        "type": "http in",
        "z": "0e20ee11438916c5",
        "name": "",
        "url": "/css",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 60,
        "wires": [
            [
                "03ba76c2e2d50a51"
            ]
        ]
    },
    {
        "id": "bee07027d58c6068",
        "type": "http response",
        "z": "0e20ee11438916c5",
        "name": "",
        "statusCode": "",
        "headers": {
            "content-type": "text/css"
        },
        "x": 450,
        "y": 60,
        "wires": []
    },
    {
        "id": "03ba76c2e2d50a51",
        "type": "template",
        "z": "0e20ee11438916c5",
        "name": "customCSS",
        "field": "payload",
        "fieldType": "msg",
        "format": "css",
        "syntax": "mustache",
        "template": "::-webkit-scrollbar {\n  width: 0.1px;\n  scrollbar-color: #9bc7f38b;\n}\n.main_container {\n  top:0 !important;\n  left: 0 !important; \n  height: 100vh !important;\n  width: 100% !important;\n  padding: 10px !important;\n  background-image: linear-gradient(180deg, #ffffff 25%, #B9C6E4 100%) !important;\n\n}\n\n.main_container>div>div>div>div>div>div>div>div>div>div>div>div>div{\n  display:flex;\n  justify-content: center;\n  align-items: center;\n  gap: 10px;\n}\n\n.main_container>div>div>div>div>div>div>div>div>div>div {\n  height:100% !important; \n}\n.form_container, .answer_container   {\n    position: relative !important;\n    top: 0 !important;\n    left: 0 !important;\n    max-height: 95vh !important;\n}\n\n.bp3-input, .select-button {\n    border-radius: 5px !important;\n    color: #231F20 !important;\n}\n.select-button span {\n    color: inherit !important;\n}\n\n.title .bp3-ui-text {\n   font-size: clamp(20px, 2.3vw, 50px) !important; \n   cursor: default !important;\n}\n\n.generate_btn span{\n    color: #FFFFFF !important;\n}\n.answer_container>div {\n  border-radius: 10px;\n  box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 4px 3px !important;\n}\n.answer_container>div>div>div>div>div>div>div {\n  border-radius: 10px;\n  padding: 7px !important;\n  \n}\n.label-container {\n  justify-content: space-between !important;\n}\n\n",
        "output": "str",
        "x": 290,
        "y": 60,
        "wires": [
            [
                "bee07027d58c6068"
            ]
        ]
    }
]